a:link, a:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: green;   }
	
	p{ font-size:30px;
	color:grey;
	border:4px solid grey;
	border-radius:15px;
	margin-right:750px;
	padding:5px;
	font-family:verdana;
	}